@font-face {
    font-family: 'Lato', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Lato&display=swap');
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
        
        
}
html, body{
    height: 100%;
}
body{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
/*    background: linear-gradient(45deg, #2ecc71, #16a085);*/
    
}

.header{
    grid-area: header;
    position: relative;
    top: 0px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
    height: 20%;
}

h1{
    padding-top: 50px;
    font-size: 24px;
}

#message , h1{
    color: white;
   
    font-weight: bold;
}

#message{
    font-size: 20px;
}
.main{
    position: relative;
    grid-area: main;  
    top: -100px;
}



.wrapper {
    width: 100%;
    height: inherit;
    display: grid;

    grid-template-areas:
     "header"
     "main";
     
}
.clock{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 250px;
    border: 10px solid #111;
    background-color: #fff;
}

.clock:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(285deg, rgba(0, 0, 0, 0.175) 50%, rgba(0, 0, 0, 0.1) 50%);
}

.num{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 18px;
}

.num:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 15px;
    background-color: black;
}

.clock:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.num1{
    transform: rotate(30deg);
}

.num1 div{
    transform: rotate(-30deg)
}
.num2{
    transform: rotate(60deg);
}

.num2 div{
    transform: rotate(-60deg)
}
.num3{
    transform: rotate(90deg);
}

.num3 div{
    transform: rotate(-90deg)
}
.num4{
    transform: rotate(120deg);
}

.num4 div{
    transform: rotate(-120deg)
}
.num5{
    transform: rotate(150deg);
}

.num5 div{
    transform: rotate(-150deg)
}
.num6{
    transform: rotate(180deg);
}

.num6 div{
    transform: rotate(-180deg)
}
.num7{
    transform: rotate(210deg);
}

.num7 div{
    transform: rotate(-210deg)
}
.num8{
    transform: rotate(240deg);
}

.num8 div{
    transform: rotate(-240deg)
}
.num9{
    transform: rotate(270deg);
}

.num9 div{
    transform: rotate(-270deg)
}
.num10{
    transform: rotate(300deg);
}

.num10 div{
    transform: rotate(-300deg)
}
.num11{
    transform: rotate(330deg);
}

.num11 div{
    transform: rotate(-330deg)
}

.hand{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hand div{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
}

.sec{
    width: 2px;
    height: 40%;
}

.min{
    height: 38%;
    width: 4px;
    border-radius: 2px;
}

.hour{
    height: 28%;
    width: 10px;
    border-radius: 8px;
}

@media (min-width: 576px) { 
    h1{
    font-size: 42px;
    }
    #message{
        font-size: 32px;
        padding-bottom: 100px;
    }
    
    .main{
    top: -150px;
    }
    
    .clock{
        width: 400px;
        height: 400px;
    }
    
    .num{
    font-size: 2rem;
    padding: 20px;
    }
}

@media (min-width: 767px) {
    
    

@media (min-width: 992px) {
   .clock{
        width: 500px;
        height: 500px;
    }
    
    .num{
    font-size: 2.5rem;
    padding: 22px;
    }
    
    
    #message{
        padding-bottom: 200px;
    }
}


